.body {
    background-color: grey;
    color: white;
}

body {
    margin: 0;
}

.nav {
    overflow: hidden;
    text-align: center;
    height: 600px;
}

.backg-img {
    background: 
    linear-gradient(180deg, rgba(68,90,102,0.18) 0%, rgba(66,88,102,0.64) 100%),url(../Assets/Far-View.jpg) no-repeat center center fixed;
    height: 100%;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-width: 100%;
    min-height: 100%;
}
  
.nav a {
    display: inline-block;
    color: white;
    font-size: larger;
    text-align: center;
    padding: 18px;
    text-decoration: none;
    position: relative;
    top: 0;
    vertical-align: middle;
}

header {
    background-color: transparent;
    color: white;
}

.curvesImg{
    transform: rotate(180deg) translateZ(0);
}

body {
    font-family: 'Poppins',Arial,sans-serif;
}

.img {
    text-align: center;
}

.bookButton {
    color: #425a63;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    border: 0px;
    background-color: white;
    box-shadow: 13px 10px 19px -5px rgba(0, 0, 0, 1);
}

.centre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutHeading {
    text-align: center;
    margin-top: 5%;
}

.aboutText {
    text-align: center;
    margin-top: 2%;
}

.aboutButton {
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    border:0px;
    background-color: #425a63;
    box-shadow: 13px 10px 19px -5px rgba(0, 0, 0, 1);
} 

html {
    scroll-behavior: smooth;
}









.button {
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    border:0px;
    box-shadow: 13px 10px 19px -5px rgba(0, 0, 0, 1);
    margin: 5px;
}
.primary {
    color: #425a63;
    background-color: white;
}
.secondary {
    color: white;
    background-color: #425a63;
}
.green {
    color: white;
    background-color: #0ac743;
}
.red {
    color: white;
    background-color: #c70a23;
}